@if (viewMode){ @if (currentBook.cover_i){
<h4>Book</h4>
<div>
  <label><strong>Title:</strong></label> {{ currentBook.title_suggest }}
</div>
<div>
  <label><strong>Number of pages:</strong></label>
  {{ currentBook.number_of_pages_median }}
</div>
<div>
  <label><strong>PublishedYear:</strong></label>
  {{ currentBook.first_publish_year }}
</div>
<div>
  <label><strong>Rating:</strong></label>
  {{ currentBook.ratings_average }}
</div>
}}