<div class="list">
    <h4>Stephen King books</h4>
    <ul class="list-group">
      @for (book of books; track book.cover_i; let i = $index) {
      <li
        class="list-group-item"
        [class.active]="i == currentIndex"
        (click)="setActiveBook(book, i)"
      >
        {{ book.title_suggest }}
      </li>
      }
    </ul>

  <div>
    <app-book-details
      [viewMode]="true"
      [currentBook]="currentBook"
    ></app-book-details>
</div>
